*{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
}
header{
    flex-grow: 3;
    border-bottom: 15px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}
.A{
    flex-grow: 1;
    background-color: blue;
    display: flex;
    flex-direction: row;
    border: 1px double black;
   
}
.A1{
    flex-grow: 1;
    background-color: wheat;
}
.A2{
 flex-grow: 1;
}
.A3{
    flex-grow: 1;
    background-color: aquamarine;
}
.A4{
   flex-grow: 1;
   background-color: azure;
}

.B{
    flex-grow: 1;
    background-color: beige;
}
.C{
    flex-grow: 1;
    background-color: aquamarine;
}
.D{
    flex-grow: 1;
    background-color: aqua;
}
.E{
    flex-grow: 1;
    background-color: antiquewhite;
}
.F{
    flex-grow: 1;
    background-color: aliceblue;
}
header h2{
    position: relative;
    top: 80px;
    font-family:cursive;

}
section{
    flex-grow: 6;
    display: flex;
    border-bottom: 15px solid white;
    flex-direction: row;
    align-content: flex-end;

}
aside{
    flex-grow: 1;
   border-right: 15px solid white;
    

}
aside h2{
    position: relative;
    top: 160px;
    font-family:cursive;

}

article{
    flex-grow: 2;
   
}
article h2{
    position: relative;
    top: 160px;
    font-family:cursive;

}
footer{
    flex-grow: 1;
}
footer h2{
    position: relative;
    top: 40px;
    font-family:cursive;

}